<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.videoalarm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service
            android:name=".utils.VideoPlayingService"
            android:enabled="true"
            android:exported="true"></service>
        <receiver
            android:name=".utils.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.YoutubeActivity"></activity> <!-- Declare  Alarm Broadcast receiver here -->
    </application>

</manifest>